body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 174, 48);
}

#container
{
    width: 70%;
    padding: auto;
    text-align: justify;
    border: 1px solid;
    margin: auto;
}

#container h1
{
    font-size: medium;
}