body
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(56, 174, 48);
}

#container
{
    width: 70%;
    padding: auto;
    text-align: justify;
    font-weight: bold;
    box-shadow: blueviolet;
    border: 1px solid;
    margin: auto;
    font-style: italic;
    flood-color: antiquewhite;
}

#container h1
{
    font-size: medium;
}